.App-header {
	min-height: 60px;
	background-color: #283333;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 60px;
}
.App-header .App-logo {
	width: 36px;
	height: 36px;
}
.App-header .App-logo-text {
	color: #04c454;
	margin: auto 12px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
}
